#topo {
    width: 100%;
    height: auto;
    }

    #logotipo {
        padding: 20px 0px;
        width: 100%;
        height: auto;
        background:#333;
        text-align: center;
        }

        #logo {
            width: 25%;
            }


