.animal {
    
    }

/* início das cores */

.amarelo {
    background: yellow;
    }
.rosa {
    background: pink;
    }
.vermelho {
    background: red;
    }
.lilas {}
.azul {}
.verde {}

/* início das cores */